<nav class="navbar navbar-expand-lg navbar-light bd-navbar" style="padding: 0 300px; height: 60px; background-color: #91eefa;">
  <a class="navbar-brand"  routerLink="inicio-usuario" href="inicioalumno"><img src="assets/Jose-cabanillas.jpg" width="70" class="rounded-circle"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse w-100" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="backnotas.html">Notas<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Curso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" href="login">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="perfil-usuario" href="perfilusuario">Configuración</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>